.home {
	position: absolute;
	background-image: url(../../../assets//images/background-home.png);
	background-repeat: no-repeat;
	z-index: -1;

	&__title {
		width: 71.3rem;
		height: 19.8rem;
		margin: 27rem 0rem 3.5rem 17.8rem;
		visibility: hidden;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 6.4rem;
		line-height: 7.5rem;

		color: #160637;

		&:after {
			content: 'DHD, the DAO \A for Healthcare DATA';
			visibility: visible;
			white-space: pre-wrap;
		}
	}

	&__subtitle {
		width: 66.5rem;
		height: 3.3rem;
		margin: 0rem 0rem 9.579rem 17.8rem;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;

		color: #8989a2;
	}

	&-buttons {
		max-width: max-content;
		max-height: max-content;
		margin: 0rem 0rem 49.51rem 17.8rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2.474rem;

		&__weareable {
			width: 25.974rem;
			height: 7.421rem;
			border: 0.1rem solid #ffffff;
			border-radius: 5rem;
			cursor: pointer;
			background-color: #6dc8b7;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			text-align: center;

			color: #ffffff;
		}

		&__info {
			width: 25.974rem;
			height: 7.421rem;
			border: 0.1rem solid #ffffff;
			border-radius: 5rem;
			cursor: pointer;
			background-color: #ffffff;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			text-align: center;

			color: #000000;
		}
	}

	&__info {
		width: 59.368rem;
		height: 14rem;
		margin-bottom: 71.683rem;
		margin-left: 122.6rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		text-align: center;

		color: #8989a2;
	}

	&-panel {
		width: 80.7rem;
		height: 51.333rem;
		margin-left: 16.3rem;
		margin-bottom: 35.733rem;
		border: 0.1rem solid #707070;
		border-radius: 5rem;

		&__title {
			width: 46.533rem;
			height: 8.533rem;
			margin: 2.4rem 0rem 1.833rem 3.6rem;
			display: flex;
			align-items: center;
			justify-content: left;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 6.4rem;
			line-height: 7.5rem;

			color: #160637;
		}

		&__description {
			width: 630rem;
			height: 4.3rem;
			margin-left: 3.6rem;
			margin-bottom: 3.9rem;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;

			color: #160637;
		}

		&__info {
			width: 72rem;
			height: 8.4rem;
			margin-left: 3.6rem;
			margin-bottom: 4.2rem;
			visibility: hidden;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 28px;

			color: #8989a2;

			&:after {
				content: '- With our device you can accurate data collection \A - Have WiFi connectivity for easy data transfer to the DHD platform \A - Cool wearable soon for Healthcare DATA';
				visibility: visible;
				white-space: pre-wrap;
			}
		}

		&__button {
			width: 25.974rem;
			height: 7.421rem;
			margin-left: 3.6rem;
			border: 0.1rem solid #6dc8b7;
			border-radius: 5rem;
			cursor: pointer;
			background-color: #6dc8b7;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			text-align: center;

			color: #ffffff;
		}
	}

	&-usecase {
		height: 54.57rem;
		margin-bottom: 47.48rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__info {
			width: 97.8rem;
			height: 11.6rem;
			margin-bottom: 11.13rem;
			text-align: center;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 40px;
			line-height: 47px;
			text-align: center;
			color: #160637;
		}

		&-list {
			margin-left: 38.5rem;
			display: flex;
			align-items: center;
			justify-content: space-between;

			&-item {
				display: flex;
				flex-direction: column;

				figure {
					width: 5.618rem;
					height: 5.343rem;
					margin-bottom: 3.475rem;
					cursor: pointer;
					img {
						width: 100%;
					}
				}

				&__title {
					width: 13.867rem;
					height: 7.731rem;
					margin-bottom: 2.071rem;
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 700;
					font-size: 24px;
					line-height: 32px;

					color: #160637;
				}

				&__description {
					width: 30.8rem;
					height: 11.597rem;
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 400;
					font-size: 24px;
					line-height: 32px;

					color: #8989a2;
				}
			}
		}
	}

	&-research {
		width: 13.94rem;
		height: 56.8rem;
		margin-left: 30.4rem;

		&__app {
			width: 25.974rem;
			height: 6.421rem;
			margin-top: 2.264rem;
			margin-bottom: 1.67rem;
			border: 0.1rem solid #6dc8b7;
			border-radius: 5rem;
			cursor: pointer;
			background-color: #6dc8b7;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			text-align: center;

			color: #ffffff;
		}

		&__title {
			width: 63.603rem;
			height: 16.771rem;
			margin-left: 32.899rem;
			margin-bottom: 0.84rem;
			visibility: hidden;
			text-align: center;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 48px;
			line-height: 56px;

			color: #160637;

			&:after {
				content: 'Get valuable data \A for your research';
				visibility: visible;
				white-space: pre-wrap;
			}
		}

		&__description {
			width: 135.813rem;
			margin-left: 1.793rem;
			margin-bottom: 6.72rem;
			visibility: hidden;
			text-align: center;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 28px;
			text-align: center;

			color: #8989a2;

			&:after {
				content: 'If you have a team of researchers, or you are an institution and want to get information for your work, here is the right place. \A \A On DHD owr users have the chance to sell their information and get paid for that without compromise their identities. \A \A The process is very simple, you make a proposal about the information that you need and give specific characteristics of the information, then, every user that is compatible with your requirement; You will receive a notification to approve or not the sale of your information, for your information to be delivered, more than 50% of the users must have approved the request';
				visibility: visible;
				white-space: pre-wrap;
			}
		}

		&__acquire {
			width: 25.974rem;
			height: 7.421rem;
			margin-left: 50.856rem;
			border: 0.1rem solid #6dc8b7;
			border-radius: 5rem;
			cursor: pointer;
			background-color: #6dc8b7;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			text-align: center;

			color: #ffffff;
		}
	}

	&-newsletter {
		width: 91.8rem;
		height: 67rem;
		margin-left: 49.4rem;
		display: flex;
		flex-direction: column;

		&__title {
			margin-top: 1.5rem;
			margin-bottom: 3.23rem;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 47px;
			text-align: center;

			color: #160637;
		}

		&__input {
			width: 34.4rem;
			height: 4.8rem;
			margin-left: 29.7rem;
			margin-bottom: 1.6rem;
			cursor: pointer;
			border: 0.1rem solid #8989a2;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;

			color: #8989a2;

			&::placeholder {
				padding-left: 2.4rem;
			}
		}

		&__submit {
			width: 34.4rem;
			height: 4.8rem;
			margin-left: 29.7rem;
			cursor: pointer;
			border: 0.1rem solid #6dc8b7;
			background-color: #6dc8b7;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			text-align: center;

			color: #ffffff;
		}
	}
}
