.form {
	width: 135.713rem;
	height: max-content;
	margin-left: 28.2rem;
	margin-bottom: 7.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__input {
		width: 59.231rem;
		height: 3.6rem;
		margin-bottom: 2.6rem;
		padding-left: 1.4rem;
		background: transparent;
		border: 0.1rem solid #000000;
		border-radius: 1rem;

		&:hover {
			border: 0.1rem solid #6dc8b7;
		}
	}

	&__button {
		width: 20.085rem;
		height: 3.88rem;
		margin-left: 39rem;
		border: 0.1rem solid #ffffff;
		border-radius: 3rem;
		cursor: pointer;
		background-color: #6dc8b7;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		text-align: center;

		color: #ffffff;

		&:hover {
			background-color: rgb(148, 204, 195);
		}
	}
}
