.governance {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// position: absolute;
	background-image: url(../../../assets//images/background-dashboard.png);
	// background-repeat: no-repeat;
	// z-index: -1;
	&-spacer {
		min-height: 15vh;
	}

	&-stat {
		height: 8.2em;
		padding: 6rem 12rem 0rem 0rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__item {
			// width: 28rem;
			display: flex;
			justify-content: right;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 900;
			font-size: 3.6rem;
			line-height: 4.2rem;

			color: #160637;
		}
	}

	&-resume {
		min-width: max-content;
		height: max-content;
		margin: 9rem 0rem 7.2rem 0rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__title {
			width: max-content;
			margin: 0rem 0rem 9.6rem 0rem;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 4.8rem;
			line-height: 5.6rem;
			text-align: center;

			color: #160637;
		}

		&__description {
			width: 107.594rem;
			max-height: max-content;
			visibility: hidden;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 2.4rem;
			line-height: 3.2rem;
			text-align: center;

			color: #8989a2;

			&:after {
				content: 'Hi!, if you are here is because you are interested on participe of the governance system of the DAO, remember, if you want to vote or make a proposal you must have a governance token. The governance token can be acquired by the shop of one of the devices EHR, that will let us link your device with your data recorded and your wallet. \A \A Remember this is a space of respect, connect your wallet and start to propose or vote, each proposal will have an expiry time not exceeding 1 month; please be as clear as possible in your proposal information, defining scope, objective, benefits and budget if required.';
				visibility: visible;
				white-space: pre-wrap;
			}
		}
	}

	&-buttons {
		width: 57rem;
		margin-bottom: 9rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__item {
			width: 20.085rem;
			height: 6.88rem;
			border: 0.1rem solid #ffffff;
			border-radius: 5rem;
			cursor: pointer;
			background-color: #6dc8b7;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			text-align: center;

			color: #ffffff;

			&:hover {
				background-color: rgb(148, 204, 195);
			}
		}
	}
}
