.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../../../assets//images/background-dashboard.png);

	&-spacer {
		min-height: 15vh;
	}

	&__fetch {
		width: 16.809rem;
		height: 4.8rem;
		border: 0.1rem solid #ffffff;
		border-radius: 5rem;
		cursor: pointer;
		background-color: #6dc8b7;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		text-align: center;

		color: #ffffff;

		&:hover {
			background-color: rgb(148, 204, 195);
		}
	}

	&-container {
		height: 55vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__nodata {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 5.6rem;
		text-align: center;

		color: #160637;
	}
}
