.button-wallet {
	width: 22.436rem;
	height: 4.553rem;
	padding: 0.527rem, 1.593rem, 0.673rem, 1.682rem;
	margin-right: 4.782rem;
	cursor: pointer;
	background: transparent;
	border: 0.1rem solid #e7eff2;
	border-radius: 5rem;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 3.2rem;
	text-align: center;
	color: #e7eff2;
}
