.footer {
	min-height: 30vh;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__title {
		width: 38.4rem;
		height: 4.268rem;
		margin-left: 15.7rem;
		padding-top: 1.128rem;

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.9rem;

		color: #404041;
	}
	&-social {
		width: 46.909rem;
		height: 3rem;
		padding-top: 1.128rem;
		margin-right: 7.9rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 3.273rem;

		&__item {
			width: max-content;
			height: 4.444rem;
			cursor: pointer;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;

			color: #404041;
		}
	}
}
